        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-center">Copyright &copy; Creative Shots 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
    <!-- Bootstrap Core JavaScript -->
    <script src="/javascripts/bootstrap.min.js"></script>

    <!-- Clicky Analytics -->
    <a title="Real Time Analytics" href="http://clicky.com/100973379"><img alt="Real Time Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(100973379); }catch(e){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100973379ns.gif" /></p></noscript>

</body>

</html>
