<% include ../partials/header %>
    <!-- Page Content -->
    <div class="container padding">

        <!-- Page Header -->
        <div class="row">
          <div class="col-lg-8 col-md-6">
              <h1>Creative Shots
                  <small>Amazing pictures by people around the world!</small>
              </h1>
          </div>
          <div class="col-lg-4">
            <a href="/collections/new" class="btn btn-primary pull-right" type="button">
              <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
              Add Picture
            </a>
          </div>
        </div>

        <hr>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
          <% collections.forEach(function(collection){ %>
            <div class="col-lg-4 col-sm-6">
              <div id="thumbnail" class="thumbnail">
                <img src="<%= collection.image %>" alt="" />
                <div class="description clearfix">
                  <a href="/collections/<%= collection._id %>"><h5 class="title"><%= collection.title %></h5></a>
                  <ul class="tool-group">
                    <li><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;<span id="view-hits">5674</span></li>
                    <li><i class="fa fa-comment" aria-hidden="true"></i>&nbsp;<span id="comment-hits">58</span></li>
                    <li><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;<span id="like-hits">2356</span></li>
                  </ul>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
<% include ../partials/header %>
