<% include ../partials/header %>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="col-lg-12">
            <h1 class="page-header">Creative Shots
                <small>Amazing pictures by people around the world!</small>
                <a href="/collections/new" class="btn btn-primary pull-right" type="button">
                  <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                  Add Picture
                </a>
            </h1>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
          <% collections.forEach(function(collection){ %>
            <div class="col-lg-4 col-sm-6">
              <h3><%= collection.title %></h3>
              <div class="thumbnail">
                <img src="<%= collection.image %>" alt="" />
              </div>
            </div>
          <% }); %>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
<% include ../partials/header %>
