/* ===========
      GLOBAL
   =========== */
*, *before, *:after, html, body {
  box-sizing: border-box;
}
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-color: #f4f4f4;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

textarea {
  max-width: 100%;
}

p {
  word-wrap: break-word;
}

/* =============
      HEADER
   ============= */

nav.navbar {
  background-color: #444444;
  height: 60px;
}

nav.navbar .container {
  padding-top: 6px;
}

.text-search-group {
  position: relative;
  margin-top: 9px;
}

.fa.fa-search {
  position: absolute;
  top: 7px;
  left: 10px;
  color: #ccc;
}

.text-search {
  width: 200px;
  height: 30px;
  padding-left: 30px;
  margin-right: 10px;
}

li a.user-menu {
  padding: 8px 0 0 0;
  margin-right: 80px;
}

.container-drop-down {
}

.drop-down {
  margin-top: 10px;
  border: 1px solid #000000;
  _border-top: none;
  background-color: #434343;
  width: 200px;
  height: 200px;
}

ul.nav-drop-down li a {
  color:#9d9d9d;
}
ul.nav-drop-down li a:hover {
  color: #fff;
  background-color: #757575;
}


/* =======================
      COLLECTIONS INDEX
   ======================= */
div.collection-show {
  padding-top: 40px;
}

.btn-group > .btn.btn-default, .btn-group form > .btn.btn-default {
  background: none;
  border: none;
}

.btn-group > .btn.btn-default:hover, .btn-group form > .btn.btn-default:hover {
  color: #555;
}

.btn-group > .btn.btn-default:active, .btn-group form > .btn.btn-default:active {
  box-shadow: none;
}

.btn-group form > .btn.btn-default:focus {
  outline: none;
}

.description {
  padding: 0 10px 5px;
}

.title {
  float: left;
}

ul.tool-group {
  float: right;
}

ul.tool-group li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
  color: #555;
}

ul.tool-group li:hover {
  color: #3e3e3e;
  cursor: pointer;
}

footer {
    margin: 50px 0;
}

.description-overlay {
  width: 94%;
  height: 80%;
  top: 8px;
  position: absolute;
  left: 3%;
  background-color: #fff;
  text-align: center;
}

.description-content {
  color: #555;
  padding: 10%;
}

.description-date {
  color: #555;
}

.thumbnail {
  position: relative;
}
.thumbnail img {
  padding: 5px;
}

/* =======================
      COLLECTIONS VIEW
   ======================= */
ul.comments {
  padding: 0 15px;
}

ul.comments li {
  list-style: none;
}

#comment {
  padding: 20px 0;
}

.user-profile-picture img {
  border-radius: 50px;
  width: 30px;
  margin-right: 5px;
}

.user-comment {
  margin-top: 15px;
}

.image-title {
  margin-top: 8px;
  vertical-align: bottom;
}

.padding {
  padding-top: 5%;
}

.btn-icon {
  border: none;
  background: none;
}

.btn-icon:focus {
  outline: none;
}

.btn-icon i {
  color: #ccc;
}

.btn-icon i:hover {
  color: #555;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.comment-form {
  display: inline;
}

/* ==========
      USER
   ========== */

.login-form {
  padding-top: 50px;
}

/* clearfix */
.clearfix {
  overflow: auto;
}
